<h2>FAQ for Tea Time Corporate Supporters</h2>

<p>
Supporting a <a href="http://csgsc.cs.ucla.edu/#/teatime">Tea Time</a> is a great opportunity to recruit CS graduate students at the MS/PhD level. Tea Time is a networking event held every Wednesday from 3:30-4:30pm. Company representatives will have <b>exclusive access to 120-150 CS graduate students</b> for the hour. We have found that the most effective use of this time is to send several representatives from the company to mingle with the students and talk with them one-on-one.
</p>

<p>For more information, please read about Tea Time <a href="http://csgsc.cs.ucla.edu/#/teatime">here</a>, and see our <a ng-click="scrollTo('FAQ')">FAQ</a> below.</p>

<p>To <b>schedule a Tea Time</b>, please contact <a href="mailto:wgoodin@seas.ucla.edu">Bill Goodin</a>.</p>

<p>
<!-- <a name="FAQ"><big><b>FAQ</b></big></a> -->
<div id="FAQ"><big><b><h2>FAQ</h2></b></big></div>

<p><b>How many people attend?</b>
<br />
Tea Time turnout is 120-150 MS and PhD students every week.
<br />
</p>

<p><b>What is the format?</b>
<br />
Tea Time is an informal event social event for CS graduate students. An informal event allows for 1-on-1 interaction between the company and students. Students prefer this type of 1-on-1 interaction because it is more personable.
<br />
</p>

<p><b>May the company give a presentation?</b>
<br />
Presentations are not encouraged and not conducive to the Tea Time social environment. Instead, it is best to have a company representative draw the crowd's attention, and give a very brief 5 minute introduction to your company and representatives. This can be done in the beginning or middle of Tea Time.
<br />
<br>
In lieu of a formal presentation, companies often post a self-repeating set of Powerpoint slides on the room's projector. Slides usually contain brief information about the company, its job openings, and contact information.
<br />
</p>

<p><b>Can Tea Time be on another day or time?</b>
<br />
Unfortunately, it is difficult to change the time and day because of long standing tradition. The Tea Time hour of 3:30-4:30PM guarantees maximum student attendance because it fits between classes.  If the need is dire, we can attempt to hold a separate special event (pending room and food service availability), but high attendance is not guaranteed.
<br />
</p>

<p><b>What does the company need to do?</b>
<br />
1. Contact <a href="mailto:wgoodin@seas.ucla.edu">Bill Goodin</a> to make arrangements and schedule a Tea Time.
<br />
2. After arrangements and scheduling are finalized, the <b>company's representatives simply show up</b> to the Tea Time event! All food and room arrangements, and advertising to students is done by the CSGSC.
<br />
</p>

<p><b>Where is Tea Time?</b>
<br />
Tea Time takes place in Boelter Hall, Room 4760. If you take the southwest elevator to the 4th floor, the room will be directly in front of you upon exiting the elevator.
<br />
</p>

<p><b>When should we arrive?</b>
<br />
We ask that company representatives arrive around 3PM. Traffic in Los Angeles is congested during this time, so please allow a healthy amount of time for traveling to the UCLA campus.
<br />
</p>

<p><b>What should we wear?</b>
<br />
We suggest wearing company apparel, as it will distinguish company representatives from the crowd.
<br />
</p>

<p><b>How many representatives should we bring?</b>
<br />
Because it is more of a 1-on-1 social event, bringing as many representatives as possible is a good idea. Anywhere from 3 to 8 representatives/engineers is good for Tea Time mingling.
<br />
</p>

<p><b>How do we send swag and what do you suggest?</b>
<br />
If you have giveaways that you would like to mail over ahead of time, please let your CSGSC representative know. Other companies have provided, pens, t-shirts, keychains, etc. as swag. Some companies have chosen to do raffles for larger prizes as well, so it is really up to you. Swag can be mailed to the following address:
<br />
<br>
ATTN: CSGSC
<br />
Graduate Student Affairs Office
<br />
UCLA Computer Science Department
<br />
4403 Boelter Hall
<br />
Los Angeles, CA 90095-1596
<br />
</p>

<p><b>Where do I park and is parking included/reserved?</b>
<br />
The nearest parking to Boelter Hall are UCLA lots 8 and 9. Parking passes can be obtained from any parking kiosk/information booth. Parking is currently $13/day cash and unfortunately the Tea Time event does not include the parking fees.
<br />
</p>

<p><b>How do we get an invoice for Tea Time?</b>
<br />
Invoices can be provided upon request.  Please let your CSGSC representative know that you need an invoice, and one will be provided to you.
<br />
</p>

</p>

