<h2>Home</h2>



<div class="row">
<p>The Computer Science Graduate Student Committee is a student-run organization within the Computer Science department at <a href="http://cs.ucla.edu/" target="_blank">UCLA</a>. The CSGSC began in Fall 2007 and has steadily increased its involvement inside the department.</p>
<p>Our purposes are two-fold. First, we wish to provide events and resources to promote interaction and community within the CS department. We achieve this through both social gatherings and academic events.</p>
<p>Secondly, we provide a bridge between graduate students and the department administration. This goes both ways: we provide valuable feedback and suggestions to the department, and we strive to make information about the department more available to the students.</p>
<p>We are an open organization, with no membership dues. If you are interested in developing our community, helping the department, or just getting involved, please join us.</p>

<p><strong>Corporate Involvement and Recruiting</strong></p>

<p>We have had several companies take advantage of recruiting opportunities by sponsoring our weekly Tea Time. Sponsoring a Tea Time allows a company to have exclusive access to attendees, which is usually 120-150 graduate computer science students. <a href="http://csgsc.org/projects/tea-time/corporate-sponsors">Click here</a> for more information.</p>

<p>We are also open to other sponsorship opportunities. For example, in Spring 2010, we organized a <a href="http://cms.csgsc.org/old/CONTEST/">presentation contest</a> sponsored by Northrop Grumman&#39;s <a href="http://www.northropgrumman.com/Careers/ftl/Pages/default.aspx">Future Technical Leaders Program</a>. We have also had companies provide materials and sponsorship for our department picnics.</p>

<p>Companies may also be interested in becoming an <a href="http://www.cs.ucla.edu/industrial-affiliate-membership-program/">Industrial Affiliate</a>.</p>
        </div>



<div class="row">
<p><i>If you have ideas for the club, or just want to say "Hi", come to our meetings at the Bomb Shelter every Monday at 4-4:30pm. We meet inside the Bomb Shelter opposite the Subway.
</i></p>

</div>