<div class="row">

<h2>Home</h2>

<p>The Computer Science Graduate Student Committee is a student-run organization within the Computer Science department at <a href="http://cs.ucla.edu/" target="_blank">UCLA</a>, founded in 2007.</p>
<p>We have two primary goals. First, we seek to develop our CS departmental community in social, collegial, and professional contexts. We achieve this by organizing social gatherings, academic events, and interfacing with industry.</p>
<p>Secondly, we provide a bridge between graduate students and the department administration. Our relationship is symbiotic: we provide valuable feedback and suggestions to the department, and we strive to make information about the department more available to the students.</p>
<p>We are an open organization, with no membership dues. If you are interested in developing our community, helping the department, or just getting involved, please join us.</p>

<p><strong>Corporate Involvement Opportunities</strong></p>

<p>Companies often take advantage of recruiting opportunities by supporting our weekly Tea Time. Supporting a Tea Time allows a company to have exclusive access to attendees, which are usually 120-150 Computer Science MS/PhD-level graduate students. <a href="http://csgsc.cs.ucla.edu/#/corporatesupporterfaq">Click here</a> for more information.</p>

<p>We are also open to other corporate collaboration opportunities. For example, in Spring 2010, we organized a <a href="http://cms.csgsc.org/old/CONTEST/">presentation contest</a> supported by Northrop Grumman&#39;s <a href="http://www.northropgrumman.com/Careers/ftl/Pages/default.aspx">Future Technical Leaders Program</a>. We have also had companies provide materials and support for our departmental picnics.</p>

<!-- RCC - Removing this temporarily, not sure we are allowed to advertise UCLA programs.
<p>Companies may also be interested in becoming an <a href="http://www.cs.ucla.edu/industrial-affiliate-membership-program/">Industrial Affiliate</a>.</p>
-->
        </div>



<div class="row">
<p><i>We welcome your feedback! If you have ideas for the club, website, or just want to say "Hi", feel free to send us an email from the contact page.
</i></p>

</div>
