<h2>Lounge</h2>

<p>Boelter Commons is a lounge area for all computer science graduate students. We go there to collaborate on group work or relax after a long day of research. Some features of the lounge include:</p>

<ul>
	<li>Group work tables</li>
	<li>Plush desk chairs</li>
	<li>Comfortable couches</li>
	<li>63&quot; presentation monitor</li>
	<li>Tornado&copy; foosball table</li>
	<li>Magazines</li>
	<li>Whiteboard wall</li>
</ul>

<p>The lounge is located in 3256-S Boelter Hall, just north of the Graduate Student Computer Lab.</p>
<p>If you are a CS graduate student, you should already have swipe card access to this room.</p>
<p>Please keep the lounge clear.</p>

<style>
#header {
background: url('http://7-themes.com/data_images/out/46/6925849-autumn-tree-background.jpg') !important;
}
</style>