<h2>Members</h2>

<br><strong>Current Members</strong>

<br>Chris Buonocore (Site Administrator)

<br>Katherine Wang (President 2015-2016, Tea Time Coordinator)

<br>Olivera Grujic (Picnic Coordinator)

<br>Robert Chen (President 2012-2014, Vice President 2010-2012 &amp; 2015-2016, Tea Time Coordinator)</p>


<p><strong>Alumni</strong>

<br>Alexander Shkapsky (President 2009-2010)

<br>Brian Tagiku

<br>Caleb Leak (Marketing Director)

<br>Cesar Romero

<br>Chris Moghbel (External Vice President 2012-2013, Tea Time Coordinator)

<br>Daniel Quach (Picnic Coordinator)

<br>David Jurgens (Picnic Coordinator)

<br>Deepak Rama

<br>Emanuel Lin (Internal Vice President 2012-2014, Tea Time Coordinator)

<br>Eric Osterweil (Lounge Keeper)

<br>Greg Klar

<br>Jason Lu

<br>Justin Collins (President 2010-2012)

<br>Keith Stevens ($CONTEST Coordinator)

<br>Kirill Minkovich (Founder, President 2007-2009)

<br>Matt Brown

<br>Mevlut Turker Garip (Tea Time Coordinator)

<br>Michael Meisel

<br>Michael Shindler (Game Night Chair)

<br>Natasha Vinnik

<br>Neil Tilley

<br>Peter Peterson ($CONTEST Coordinator)

<br>Ran Gelles (Picnic Coordinator)

<br>Tomer Weiss

<br>Toni Ivanov

<br>Uri Schonfeld

<br>Victor Perez</p>
