<h2>Tea Time</h2>

<p>Tea Time is a weekly gathering of CS graduate students, faculty, and staff. Come enjoy some free food, fancy tea and coffee! You will get to meet other students and faculty, talk about work and life, and occasionally meet engineers from your favorite companies.</p>

<p>Tea Time occurs most <b>Wednesdays</b> during the school year at <b>3:30-4:30pm</b> in <b>Boelter Hall 4760</b>, and is organized and host by the CSGSC.</p>

<p>Volunteers are needed!!! If you wish to volunteer, please email  <a href="mailto:k8wang@ucla.edu">Katherine Wang</a>.</p>

<p><b><i>Potential Corporate Supporters:</i></b> Please read our Tea Time <a href="http://csgsc.cs.ucla.edu/#/corporatesupporterfaq">FAQ</a>, and contact <a href="mailto:wgoodin@seas.ucla.edu">Bill Goodin</a> for more information.</p>

<!-- RCC - Removing ancillary contacts.
<a href="mailto:arbuckle@cs.ucla.edu">Steve Arbuckle</a><br>
<a href="mailto:wgoodin@seas.ucla.edu">Bill Goodin</a></p>
-->
