<h2>Tea Time (TT)</h2>

<p>Tea Time is a weekly gathering of CS graduate students, faculty, and staff. Come get some free food, fancy tea and coffee, and talk to your fellow students and faculty!</p>

<p>Tea Time occurs most Wednesdays during the school year at 3:30-4:30pm in Boelter Hall 4760. It is organized and host by the CSGSC; except for sponsored events, Tea Time is funded by the CS department.</p>

<p>Volunteers are needed!!! If you wish to volunteer, please email Katherine Wang at k8wang@cs.ucla.edu.</p>

<p>Corporate sponsors please contact Bill Goodin<a href="mailto:william.r.goodin@gmail.com"></a> for more information.</p>